/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, th, td {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
    margin-top: 15px;
}

.filter {
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

#header {
  height: 80px;
  width: 777px;
  background: blue URL('../images/header_inner.png') no-repeat;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: 0 auto 0 auto;
    text-align: center;
}

a.link, a, a.active {
  color: #369;
}
a:hover {
  text-decoration: none;
  color: blue;
}

#main_content {
  color: black;
  font-size: 127%;
  background-color: white;
  width: 757px;
  margin: 0 auto 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6,#getting_started_steps {
  font-family: "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
    font-size: 170%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

h4 {
  font-size: 90%;
}

#getting_started_steps a {
  text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
  font-size: 80%;
  margin-bottom: 0.5em;
}

#getting_started_steps h2 {
  font-size: 120%;
}

#getting_started_steps p {
  font: 100% "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

#footer {
  border: 1px solid #aaa;
  border-top: 0px none;
  color: #999;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 0px;
  font-size: 80%;
  text-align: left;
  width: 757px;
  margin: 0 auto 1em auto;
}

.code {
  font-family: monospace;
}

span.code {
  font-weight: bold;
  background: #eee;
}

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

/* Listas de los ABM */
table.list {
    width:90%;
    margin-left:5%;
    border-collapse:separate;
    border-spacing:1px 5px;
}

table.list td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border: none;
}

#pageLogin {
    width:100%;
    border:1px solid black;
    padding-bottom: 2px;
    padding-top: 2px;
}

#pageLogin span {
    padding: 5px 5px 5px 5px;
}

.tableform table {
    width:80%;
    margin-left:10%;
    border: 1px solid #400;
}

.tableform th {
    text-align: right;
    width: 15%;
    padding-left:15px;
}

.tableform td {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableform input, textarea {
    border: 1px solid black;
}

.tableform input:focus, select:focus, textarea:focus {
    background: #fec;
}

#navbar {
    position:float;
    float:right;
}

/* Listas de los SHOW */
table.show {
    width:80%;
    margin-left:5%;
    border-collapse:separate;
    border-spacing:1px 5px;
}

table.show th {
    width:25%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}

table.show td {
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}

#footer img {
    float:right;
    border:none;
}

form.filter {
    width:90%;
    padding-left:5%;
    padding-bottom:20px;
}

form.filter table {
    background: none;
    width:100%;
}

form.filter table td,form.filter th,form.filter tr {
    background: none;
}

form.filter th {
    background: none;
    font-weight:bold;
}

.list .exitosa {
	background: #b9ffb9;
}

.list .noexitosa {
	background: #ffdddd;
}

.prueba {
	border-collapse: collapse;
}

.pruebaok {
	background: #b9ffb9;
	border-collapse: collapse;
}

.pruebafail {
	border-collapse: collapse;
	background: #ffdddd;
}

.pruebaok tr {
	background: gray;
}
.pruebaok th {
	background: #b9ffb9;
}
.pruebaok td {
	background: #b9ffb9;
}

.pruebafail {
	background: #ffdddd;
}
.pruebafail th {
	background: #ffdddd;
}
.pruebafail td {
	background: #ffdddd;
}

.dp-diff .rojo {
    color:red;
}

.dp-diff .chunk {
    color:blue;
}

.dp-diff .verde {
    color:green;
}
.flash {
    display: block;
    border: thin solid black;
    background-color: lightgray;
    margin: 2px;
    padding: 4px;
    color: red;
}

.error {
  color: red;
}
