[global]
# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# sercom/config/app.cfg

# SERCOM

####################################
# Configuración recupero de password
sercom.passrecovery.mail_from = '<RECOVERY_EMAIL@DOMAIN>'
# Tiempo mínimo entre dos mails a la misma dirección en minutos [15]
sercom.passrecovery.between_mails_delay = 15
sercom.passrecovery.send_username = True 

# PANEL DE USUARIO

# Permitir cambio de nombre al usuario [False]
sercom.user_panel.name_readonly = True

# URL de RSS para página de inicio (vacio para no mostrar ningun feed)
sercom.welcome.rssfeed.url = '<RSS FEED URL>'

#comando para creación de PDF sobre el código fuente usando a2ps y ps2pdf
sercom.pdf.creation.commandtemplate = "/var/lib/sercom/sercom/sanitize_charset.sh convert ; find -regextype posix-egrep -type f -regex '.*\.(h|c|cpp)' | sort -r | xargs -- a2ps -q -2 -Av --toc --line-numbers=1 --tabsize=2 --header='[<SUBJECT NUM_CODE>] <SUBJECT DESCRIPTION>' --left-footer='%D{%c}' --footer='Padron ${alumno} (curso ${cuatrimestre})  Ejercicio ${ejercicio}.${instancia} (entrega ${fecha})' -g -o - | ps2pdf - ${pdf_filepath}" 



# DATABASE

# pick the form for your database
# sqlobject.dburi="postgres://username@hostname/databasename"
# sqlobject.dburi="mysql://username:password@hostname:port/databasename"
# sqlobject.dburi="sqlite:///file_name_and_path"

# If you have sqlite, here's a simple default to get you started
# in development
sqlobject.dburi="mysql://<DATABASE_URI>"


# if you are using a database or table type without transactions
# (MySQL default, for example), you should turn off transactions
# by prepending notrans_ on the uri
# sqlobject.dburi="notrans_mysql://username:password@hostname:port/databasename"

# for Windows users, sqlite URIs look like:
# sqlobject.dburi="sqlite:///drive_letter:/path/to/file"


# SERVER

# Nombre del host servidor 
server.socket_host="127.0.0.1"

# Puerto para el host servidor
server.socket_port='<PORT IF REQUIRED>'

# Enable the production environment
#environment="production"

# Enable the session variables
tools.sessions.on = True

# The session directory for catwalk
#catwalk.session-dir = "/var/lib/sercom/sercom/sercom/catwalk-session"

# Sets the number of threads the server uses
server.thread_pool = 20


# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = True

# Configuración envío de mails
email.smtp_server = "<SERVER>"
email.from_addr = '<FROM_EMAIL@DOMAIN>'


# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in sercom/config/log.cfg
[logging]

[[handlers]]

[[[console_out]]]
args = "(sys.stdout,)"
class = 'StreamHandler'
level = 'DEBUG'
formatter = 'message_only'

[[[common_file_out]]]
# set the filename as the first argument below
args = "('<FILEPATH>',None,10000000,4,)"
class = 'RotatingFileHandler'
level = 'DEBUG'
formatter = 'message_and_time'

[[[access_file_out]]]
# set the filename as the first argument below
args = "('<FILEPATH>',None,10000000,4,)"
class = 'RotatingFileHandler'
level = 'DEBUG'
formatter = 'message_and_time'

[[[mail_out]]]
# smtp, from, to, subject
args = "('<SERVER (same as above)>', '<FROM_EMAIL@<DOMAIN>', ['<TO_EMAIL_1@<DOMAIN>', '<TO_EMAIL_2@<DOMAIN>'], 'SERCOM ERROR!!!')"
class = 'handlers.SMTPHandler'
level = 'WARNING'
formatter = 'mail'


[[loggers]]

[[[sercom]]]
level = 'DEBUG'
qualname = 'sercom'
handlers = ['console_out','common_file_out','mail_out']

[[[allinfo]]]
level = 'INFO'
handlers = ['console_out','common_file_out']

[[[access]]]
level = 'DEBUG'
qualname = 'cherrypy.access'
handlers = ['console_out','access_file_out']
propagate = 1

[[[error]]]
level = 'DEBUG'
qualname = 'cherrypy.error'
handlers = ['console_out','access_file_out','common_file_out']
propagate = 1

